@charset "utf-8";

/*https://css-tricks.com/snippets/php/randomize-background-image/*/


/*========================================  CSS RESET ====================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*========================================  fin DU CSS RESET ====================================================*/

/*========================================  STYLES GENERAUX ====================================================*/
/*============================COULEURS:
rouge fonce: #B32A42;
rouge tres fonce: #6c0e1e;
rose: #F05570;
bleu fonce: #1781B2;
bleu moyenne: #30A0D1;
jaune: #F8F274;
================================FIN COULEURS*/
@viewport{
zoom: 1.0;
width: extend-to-zoom;
}
@-ms-viewport{
width: extend-to-zoom;
zoom: 1.0;
}
html,body{
min-height: 100%;
margin: 0;
padding: 0;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
html{
background-color: #6c0e1e;
}
body{

background-color: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
max-width: 980px;
overflow-y: scroll; 
}

h2{
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.6em;
color: #6c0e1e;
margin: 60px 10px 30px 10px;
}

h3{
font-family: 'Source Sans Pro', sans-serif;
color: #6c0e1e;
font-size: 1.2em;
margin-top: 1em;
}
h4{
font-family: 'Source Sans Pro', sans-serif;
color: #6c0e1e;
font-size: 1em;
margin-top: 1em;
}
h5{
font-family: 'Source Sans Pro', sans-serif;
color: #6c0e1e;  
font-size: .9em;
}
a{
font-family: 'Source Sans Pro', sans-serif;
color: #000000;
text-decoration: none;
}

.textStandard{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: .9em;
line-height: 1.4em;
letter-spacing: .9px;
font-weight: 500;
text-indent: 50px;
margin: 40px 10px;

}
.noIndent{
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.2em;
line-height: 1.4em;
letter-spacing: .9px;
font-weight: 500;
margin: 40px 10px;
text-indent: 0;
}
.bold{
font-weight: 700;
}
.cursive{
font-style: italic;
}
.dummy{
    height: 89px;
    margin-bottom: 30px;
}
main{
     width: 100%;
     height: 100%;
}

.section1{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.section2{
    
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ea1212;
}
.section3{
    
    height: 300px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #30A0D1;
}
.section4{
    
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #b812ea;
}
.section5{
    
    height: auto;
    width: 100%;
    border: 2px solid #5dea12;
}
.section1 img{
    width: 98%;
    margin: 0 2%;
}
.section5 img{
    width: 100%;
    height: auto;
    
}
footer{
background: #659CEF;
width: 100%;
min-height: 75px;
position: relative;
bottom: -90px;
font-family: 'Source Sans Pro', sans-serif;
font-size: .8em;
letter-spacing: .6px;
line-height: 1.6em;
color: #ffffff;
padding: 10px;
}
.anchor{
float: right;
clear: both;
position: fixed;
bottom: 62px;
right: 10px;
}
.anchor img{
width: 40px;
opacity: .5;
z-index: 3;
}
.reseauxsociaux{
    float: right;
    margin-right: 10px;
}
.reseauxsociaux img{
    width: 40px;
    height: auto;
    margin: 5px;
    margin-top: 18px;
}
.sliderOeuvre{

    width: 100%;
    height: auto;
}
.sliderOeuvre img{
    /*float: left;*/
    /*clear: left;*/
    width: 94%;
    margin: 3%;
 
}
.boutonMoyenne{
    width:auto;
    text-align:center;
    background-color:#30A0D1;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    border:1px solid #ddd;
    padding:10px;
    font-size:1.2em;
    cursor:pointer;
    border-radius:5px;
    margin: 30px; 
}
.infosOeuvre{
    width: 100%;
    height: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}
.infosOeuvre .boutonMoyenne{
    margin-top: 20px; 
}
.infosOeuvre p{
    margin-top: 6px;
    margin-bottom: 20px;
}
.rating{
    width: 100%;
    height: 30px;
}


.description{  
    width: 100%;
    height:200px;
    display: block;
    padding-left: 10px;
}

.sectionCommentaires{
    display: block;
    width: 100%;
    height: auto;
    padding-left: 10px;
}
.sectionCommentaires .thumbnail{
    display: inline-block;
    margin: 10px;
    float: left;
    clear: left;
}
.sectionCommentaires h4{
    float: left;
    clear: none;
}
.sectionCommentaires p{
    margin: 20px 10px 30px 10px;
}
.sectionCommentaires .boutonMoyenne{
   
    margin: 20px 10px;
}
.unCommentaire{
    width: 98%;
    border-bottom: 2px solid rgba(179, 42, 66, 0.65);
    
}
.aside1{
    width: 100%;
    height: 200px;
    padding-left: 10px;
    margin-top: 20px;
}
.aside2{
    width: 100%;
    height: 200px;
    padding-left: 10px;
    margin-top: 20px;
}

.thumbnail{
    width: 50px;
    height: 50px;
}
.ratingUtilisateur{
    height: 30px;
}
/*------------- PAGE ADMIN -----------------------*/
.premiereColonne{
    display: block;
    width: 100%;
    height: 500px;
}
.deuxiemeColonne{
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
.troisiemmeColonne{
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
.listeCommentaires{
    display: block;
    width: 100%;
    overflow-y: scroll;
}
.listeOeuvres{
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.rechercheResultTitre {
    
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;

}


.infoResult {
    
    margin-left: 30px;
    font-size: 20px;

}
#formRevisionPhotos{
    display: none;
    max-width:600px;
    padding:10px 50px;
    border:2px solid #F8F274;
    border-radius:10px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#fff;
}
#formRevisionPhotos img{
    width: 50%;
    margin-left: 20%;
}
#dateMisAJour{
    position: relative;
    top: 200px;
}

#results {

    background-color: cornflowerblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
/*-------------FIN PAGE ADMIN ---------------------*/
/*========NAV PRINCIPALE=====*/



/*déclaration css combinée, css_reset ciblé*/
nav ul,
nav	li,
nav	a {
margin:0;
padding: 0;
list-style: none;
}
nav {
display: block;
width: 100%;
background-color: #ffffff;
border-top: #6c0e1e solid 4px;
border-bottom: #F8F274 solid 4px;
position: fixed;
top: 49px;
z-index: 2;
}


nav a{
font-family: 'Source Sans Pro', sans-serif;
font-size: .7em;
/*color: #6c0e1e;*/
color: white;
text-decoration: none;
padding: .2em .3em;
line-height: 36px;
background-color: #659CEF;
border-radius: 5px;
}

nav a:hover {
background-color: #6c0e1e;
color: white;
}


.ici{/*--cette class est pour marquer la page actuelle dans le nav--*/
font-weight: 600;
}
nav a:active{
color:  #b95364;
}

nav a:first-child {
    margin-left: 9%;
    
}

/*====fin=NAV PRINCIPALE=====*/
/*--------------------------STYLES FORMULAIRES -------------------------*/
#div_bgform {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
background-color:rgba(90, 89, 89, 0.73);
overflow:auto;
z-index: 7;
display: none;
}
#fermer {
position:absolute;
right:-4px;
top:-4px;
width:30px;
height:30px;
background-color:#6c0e1e;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.2em;
color: #fff;
cursor:pointer;
border-radius: 16px;
font-family: sans-serif;
cursor:pointer;
}
#div_form {
position:absolute;
top:17%;
font-family: 'Source Sans Pro', sans-serif;
z-index: 8;
display: none;
}

#div_form h2 {
color: #6c0e1e;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
}
input{
    width:82%;
}
select{
    width: 92%;
}
input, select {
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family: 'Source Sans Pro', sans-serif;
border-radius: 5px;
}

textarea{
    margin-top: 30px;
}
select:focus, textarea, textarea:focus {
    border-radius: 5px;
}


.submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#30A0D1;
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
border:1px solid #ddd;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin: 30px 0;
}
#formlogin, #form_profil {
max-width:200px;
padding:10px 50px;
border:2px solid #F8F274;
border-radius:10px;
font-family: 'Source Sans Pro', sans-serif;
background-color:#fff;
}
#form_itineraire, #contribuer_oeuvre{
padding:10px 50px 30px 50px;
font-family: 'Source Sans Pro', sans-serif;
}
#form_itineraire input[type="submit"]{
    float: right;
    width: 100px; 
}
#formContribuerPhoto h3{
   margin-left: 3%;
    color: #b32a42;
}
#formContribuerPhoto h4{
    margin-left: 60px;
    color: #000000;
    text-align: center;
    line-height: 1.6em;
}

/*--------------------------FIN STYLES FORMULAIRES -------------------------*/

/*========================================  FIN DU STYLES GENERAUX ====================================================*/
/*========================================  STYLES POUR MOBILE ====================================================*/
header{
    position: fixed;
    z-index: 3;
    background-color: #FFFFFF;
    width: 100%;
    height: 49px;
}
    
#logo{
    height: 44px;
    width: 44px;
    margin: 5px;
}
#titre{
    position: relative;
    top: -50px;
    left: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6c0e1e;
    font-size: 1.4em;
    z-index: 4;
}

#loupe{
    width: 15%;
    max-width: 36px;
    max-height: 36px;
}

.barreRecherche{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    float: right;
    background: #B32A42;
    width: 200px;
    height: 100%;
    position: relative;
    z-index: 5;
    border-left: solid 2px #6c0e1e;
}

.barreRechercheContenu {
    margin: 6px 0 0 0;
}

.barreRechercheContenu input[type="submit"] {
    background-color: #F5F077;
}

.barreRechercheContenu input[type="text"] {
    width: 90.5%;
    height: 18px;
}

.barreRechercheContenu select {
    text-align: center;
}

.barreRechercheContenu input {
    height: 22px;
    width: 92%;
    font-size: 14px;
    padding: 0;
    margin: 0 auto 5px auto;
}
.barreRechercheContenu select {
    height: 22px;
    width: 92%;
    font-size: 14px;
    padding: 0;
    margin: 0 auto 5px auto;
}

.boutonRecherche{
    float: right;
    background: #B32A42;
    width: 60px;
    height: 100%;
    position: relative;
    z-index: 5;
    border-left: solid 2px #6c0e1e;
}

.iconeRecherche {
    margin: 0 auto;
    position: absolute;
    left: 8px;
    top: 10%;
    height: 40px;
    display: block;
}

.flecheRecherche {

    float: right;
    background: #B32A42;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -10px;
    top: 17px;
    transform: rotate(45deg);
    border-bottom-left-radius: 5px;
    border-left: solid 2px #6c0e1e;
    border-bottom: solid 2px #6c0e1e;
}

#submitRecherche{
    
    text-align: center;
    width: 100%;
}

.lienPageMembre{
    float:left;
    clear: none;
    background-color: #ffffff;
    border: 2px solid #F8F274;
    border-radius: 14px;
    padding: 0px 10px 10px 10px;
}

/*#NavAccueil {

    text-align: center;
    margin-left: 35px;*/

.nav a {
    /*text-align: center;*/

}
    
}

/*======================================== Style reponse recherche====================================================*/

#results {
    /*background: #F5F077;*/
    width: 92%;
    border: 1px solid #c0c0c0;
    display: none;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    /*color: white;*/
}

#results .item {
    padding: 3px;
/*    font-family: Helvetica;*/
    font-size: 14px;
    border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
    border-bottom: 0px;
    padding-bottom: 4px;
}

#results .item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
#map {
    height: 300px !important;
    margin: 0 auto;
}
/*======================================== Style reponse recherche ====================================================*/

/*======================================== FIN DU STYLES POUR MOBILE ====================================================*/


/*========================================  STYLES POUR TABLETTE ====================================================*/
@media (min-width: 480px){
header{
    height: 57px;
}
nav{
top:58px;    
}
nav a{
font-size: 1em;    
}
    
nav a:first-child {
    margin-left: 20%;
}
#icon_menu{
margin-left: 2%;
margin-right: 20%;
}
#logo{
height: 52px;
width: 52px;
margin: 7px;
}
#titre{
  font-size: 1.8em;  
}
#barreRecherche{
top:-98px;
}
#loupe{
float: right;
margin-right: 2%;
}
    
.dummy{
    height: 98px;
}
#div_form {
left:50%;
margin-left:-202px;
}
#formlogin {
max-width:300px;
}
#formlogin, #contribuer_article, #form_profil{
    max-width:300px;
}
nav a{

font-size: 1.2em;
letter-spacing: .4px;
text-align: center;
padding: 0 20px;
line-height: 30px;
}
.section1{
   margin-bottom: 20px; 
}
.section5 img{
    width: 70%;
    margin-left: 15%;
}
/*--------------------STYLES SLIDER----------------*/
    .single-item{
    width: 99%;
    text-align: center;
}

  
.slick-slide{
width: 270px;

}
.slick-slide img {
   
    display: block;
    width: 50%;
    margin-left: 25%;
}
.gm-style .photomap {
    max-width: 200px;
}
#map {
    height: 300px !important;
    margin: 0 auto;
}
/*--------------- FIN STYLES SLIDER----------------*/
}
@media (min-width: 800px){
    
html{
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}
    
header{
background-image: url(../images/Banniere.png);
background-size: 100% 100%;
height: 76px;
width: 100%;
}
    
#titre{
left: 100px;
font-weight: 900;
}
#logo{
width: 60px;
height: 60px;
}
nav{
    top: 76px;
    width: 100%;
    /*margin-left: 0px;*/
}

#recherche{
width: 40%;
position: fixed;
top: 0px;
right: 55px;
background: #00acc2;
z-index: 4;
}
#loupe{
margin:10px;
}
main{
width: 60%;
}

.textStandard, .noIndent{
margin: 40px 20px;
}
h2{
margin-left: 20px;
margin-right: 20px;
}
.dummy{
    height: 110px;
}
.slick-slide img {
   
    display: block;
    width: 98%;
    margin-left: 2%;
}
.aside1{
    width: 30%;
    height: 300px;
    float: right;
    position: relative;
    left: 0
}
.aside2{
    width: 30%;
    height: 300px;
    float: right;
    position: relative;
    right: -30%;
    top: 300px;
}

.section1{
    

    height: 300px;
    width: 40%;
    display: block;
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;

    /*height: 300px;
    width: 30%;
    display: block;
    margin-right: 0;*/

}

.section2{
   
    height: 300px;

    width: 58%;
    float: left;
    position: relative;
    top: -320px;
    left: 41%;

    display: block;
    width: 100%;
    /* float: left; */
    /* clear: none; */
    /* position: relative; */
    /* top: -300px; */
    /* left: 30%; */
    margin-left: 0;

}
.section3{
    
    height: 300px;
    width: 20%;
    position: relative;
    top: 24px;
    margin-right: 0;
}
.section3 p{
    display: inline-block;
    position: relative;
    top: -300px;
}
.section4{
   
    height: 300px;
    width: 59%;
    float: left;
    clear: none;
    position: relative;
    top: -300px;
    left: 21%;
}

.section5{
    
    height: 300px;
    width: 18%;
    float: left;
    clear: none;
    position: relative;
    top: -300px;
    left: 22%;
}
.section5 img{
    width: 100%;
    margin: 0 auto;
}
#itineraire{
width: 40%; 
}
#votreTrajet{
    width: 50%;
    position: relative;
    left: 2%;
}
.lienPageMembre{
    display: none;
}    


.sliderOeuvre{
    width:60%;
    height: auto;
    
}
#btnContribuerPhoto{
   
    float: left;
    clear: none;
   
}
#formContribuerPhoto{
  display: block;
    width: 60%;
    
}
.infosOeuvre{
    width: 38%;
    display: block;
    position: absolute;
    top: 155px;
    right: 0;
    float: right;
    border-left: 4px solid #6c0e1e;
}
.description{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 210px;
}

.description h3{
    position: relative;
    left: -190px;
}

/*
.description p{
     position: relative;
    left: -190px;
}
*/
.sectionCommentaires{
 
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: 210px;
}
#sponsorsPageOeuvre{
    display: block;
    width: 100%;
    height: 300px;;
    position: relative;
    top: 210px;
    
}

.description, .sectionCommentaires, #sponsorsPageOeuvre{
    margin-top: 70px;
    
}
footer{
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin-top: 20px;
}



    
.flecheRecherche {
    
    float: right;
    background: #B32A42;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -17px;
    top: 28px;
    transform: rotate(45deg);
    border-bottom-left-radius: 5px;
    border-left: solid 2px #6c0e1e;
    border-bottom: solid 2px #6c0e1e;
}
    
 .iconeRecherche {
    
    top: 28%;
}

/*------------- PAGE ADMIN 800px ET+ -----------------------*/
    .premiereColonne{
        width: 58%;
        height: 500px;
         border-right: 4px solid #F8F274;
    }
    .deuxiemmeColonne{
        float: left;
        clear: none;
        position: relative;
        top: -500px;
        right: -59%;
        width: 20%;
        height: 500px;
        overflow-y: scroll;
    }
    .troisiemmeColonne{
        float: left;
        clear: none;
        position: relative;
        top: -500px;
        right: -60%;
        width: 20%;
        height: 500px;
        overflow-y: scroll;
    }
    .listeCommentaires{
        width: 100%;
        overflow-y: scroll;
    }
    .listeOeuvres{
        width: 100%;
        overflow-y: scroll;
    }

/*-------------FIN PAGE ADMIN ---------------------*/    
}
/*======================================== FIN DU STYLES POUR TABLETTE ====================================================*/


/*========================================  STYLES POUR DESKTOP ====================================================*/
@media (min-width: 1024px){
html{
    
    width: 980px;
    margin: 0 auto;
    
}
body{
    width: 100%;
   
}
header{
    width: 980px;
    margin: 0 auto;
    height: 86px;
}

nav{
width:980px;
top: 86px;
}
.dummy{
height: 120px;
}
#logo{
width: 76px;
height: 76px;
}
#titre{
top: -70px;
font-size: 3em;
}
#barreRecherche{
top: -140px;
}
.textStandard, .noIndent, h2{
max-width: 800px;
margin-left: 40px;
}
.infosOeuvre{
   top: 166px; 
 }
.description{
    top: 100px;
}
}
#map {
    height: 300px !important;
    margin: 0 auto;
}
/*
@media (min-width: 1200px){
    
html{
width: 80%;
margin-left: 10%;

}

header, nav{
width: 80%;
}

.single-item{
    width: 99%;
    text-align: center;
}*/
 /* h3{
    padding: 20px;
  }*/
  /*
.slick-slide{
width: 270px;

}
.slick-slide img {
   
    display: block;
    width: 100%;
}
.gm-style .photomap {
    max-width: 200px;
}
#map {
    height: 100%;
}

.sliderOeuvre{
    width: 50%;
    height: auto;
    top: 0px;
    
}

.sliderOeuvre img{
    width: 100%;
    margin-left: 10%;
}

.infosOeuvre{
    width: 50%;
    height: 300px;
    margin-left: 10%;
}

.description{
    margin-top: 10%;
    
}

.sectionCommentaires{
    float:left;
    clear: left;
    width: 100%;
    margin-top: 100px;
    margin-left: 10%;
    display: block;
    
}

#boutonCommentaire {
 float: right;  
}

#boutonDirection {
 float: right;
}

#selectImageUpload {
    margin-left: 10%;
}
}*/


/*========================================FIN DU STYLES POUR DESKTOP ====================================================*/

